h1 {
    margin-top: 8px;
}

.list-group h3 {
    margin: 0;
}

.list-group-item:hover h3:before {
    content: "\f115";
}

.list-group h3:before {
  font-family: 'icomoon';
  content: "\f114";
  width: 35px;
  float: left;
}

.bg-danger {
    padding: 10px;
}

.jumbotron {
    margin-top: 25vh;
}

footer .container {
    padding: 40px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* IconMoon */

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?kezjk0');
    src:url('../fonts/icomoon.eot?#iefixkezjk0') format('embedded-opentype'),
        url('../fonts/icomoon.woff?kezjk0') format('woff'),
        url('../fonts/icomoon.ttf?kezjk0') format('truetype'),
        url('../fonts/icomoon.svg?kezjk0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: text-top;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.im-file-o:before {
    content: "\f016";
}

.im-info-circle:before {
    content: "\f05a";
}

.im-folder-open:before {
    content: "\f07c";
}

.im-folder-o:before {
    content: "\f114";
}

.im-folder-open-o:before {
    content: "\f115";
}

.im-puzzle-piece:before {
    content: "\f12e";
}

.im-database:before {
    content: "\f1c0";
}
